.wrapper {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    color: rgb(146, 238, 41);
}

.input {
    all: unset;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}